@import url( 'https://fonts.googleapis.com/css?family=Kumar+One');
@import url( 'https://fonts.googleapis.com/css?family=Anton');

body {
    font-family: 'Anton', cursive;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 2px;
}

ul {
    list-style: none;
}
